/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    /* footer stay at screen bottom 
     even if there is insufficient content to push it down */
    min-height: 100vh;
    display: flex;
    /* If this was set to row then the header, main content and footer 
    would be in a horizontal line */
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    /* border: 10px solid red; */
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}
/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    /* An element with position: fixed; is positioned relative 
    to the viewport, which means it always stays in the same place even if the page is scrolled.
    However we need width: 100% else the header will not fill out the rest of the width of the container */
    position: fixed;
    width: 100%;
    /* The purpose of the z-index property is to control the vertical stacking of overlapping elements. 
    A higher z-index value appears to be physically closer to you. Its name comes from the cartesian 
    coordinate system where the x-axis is horizontal, the y-axis is vertical and the z-axis is perpendicular 
    to the screen pointing straight at you.
    High z-index value of 99 so that it is layered on top of other elements that might have a z-index later on */
    z-index: 99;
    /* This shadow depth effect makes it look layered on top of the other content. A better user
    visual experience. The first value is the horizontal offset (negative offsets to 
    the left, positive to the right). Not needed as the header is full width. 
    The second value is the vertical offset (positive is down, negative is up).
    The third value is the blur radius (how hard or soft the shadow is). 
    The fourth value is the spread radius.
     */
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    color: inherit;
    text-decoration: none;
}
/* Navigation menu */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    /* Hidden by default */
    display: none;
    top: 100%;
}
/* Nav toggle */
#nav-toggle:checked ~ nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    /* flex-grow 1, flex-shrink 0, flex-basis auto */
    /* flex-grow: 1; the main grows to fill the leftover space in the parent body. */
    /* flex-shrink: 0; is active, the main item returns to its default width set by flex-basis.  */
    /* flex-basis: flexbox version of width: determines 
    the size along the main axis (width for row, height for column). 
    auto: The length is equal to the length of the flexible item*/
    /* flex-grow and flex-shrink are both set on main, but they will never be active 
    in the parent, while flex-shrink affects the element only if there is not enough space in the parent. */

    /* Main element to take up any surplus space to push footer down. It should not shrink when the 
    at the same time, as flex-grow affects the element only if there is space left over 
    screen is too small to show all the content. */
    flex: 1 0 auto;
    /* flex-grow: 1; */
    /* In DEVtools if you select the header it tells you the header is 47px high. So, in
    order to see main you need to set the margin area on the top of main to 47px farther from its neighbor*/
    margin-top: 47px;
}

/* Hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}
#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 109, 107, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2,
#cover-text > h3 {
    color: #ffffff;
}

#reasons {
    margin: 20px auto;
    width: 90%;
}
#reasons h2 {
    font-size: 280%;
    margin-bottom: 20px;
    text-align: center;
}

#benefits-physical > div,
#benefits-mental > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}
#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

/* Footer */

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 1.6rem;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        /* We'll want to make sure that the navbar is always displayed so we can see all the page links. */
        display: block;
        position: relative; /* appears adjacent rather than below Love Running */
        box-shadow: none; /*hide the shadow as not needed */
        width: fit-content; /* make the navbar as wide as the content */
        padding-right: 1rem; /* add padding to the right to make it look better */
    }
    #menu {
        display: flex; /* make the menu items appear in a row */
    }

    #menu li {
        margin-left: 1rem;
    }
    .nav-toggle-label {
        /* no longer need to toggle the X*/
        display: none;
    }
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    /* Main content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 78.59px;
    }
    /* Hero section */
    #cover-text {
        width: 300px;
        right: 50px;
    }
}
/* Media query: small laptops (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}
