/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    /* footer stay at screen bottom 
     even if there is insufficient content to push it down */
    min-height: 100vh;
    display: flex;
    /* If this was set to row then the header, main content and footer 
    would be in a horizontal line */
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    /* border: 10px solid red; */
}
/* Header */
header {
    background-color: lightcoral;
}
/* Main content */
main {
    background-color: lightblue;
    /* flex-grow 1, flex-shrink 0, flex-basis auto */
    /* flex-grow: 1; the main grows to fill the leftover space in the parent body. */
    /* flex-shrink: 0; is active, the main item returns to its default width set by flex-basis.  */
    /* flex-basis: flexbox version of width: determines 
    the size along the main axis (width for row, height for column). 
    auto: The length is equal to the length of the flexible item*/
    /* flex-grow and flex-shrink are both set on main, but they will never be active 
    at the same time, as flex-grow affects the element only if there is space left over 
    in the parent, while flex-shrink affects the element only if there is not enough space in the parent. */

    /* Main element to take up any surplus space to push footer down. It should not shrink when the 
    screen is too small to show all the content. */
    flex: 1 0 auto;
    /* flex-grow: 1; */
}
/* Footer */
footer {
    background-color: orange;
}
